
/****** Object:  Table [dbo].[HMS_TESTV]    Script Date: 09/13/2015 13:17:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HMS_TESTV](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[COMPID] [bigint] NOT NULL,
	[TCATID] [bigint] NOT NULL,
	[TESTID] [bigint] NOT NULL,
	[TVACID] [bigint] NOT NULL,
 CONSTRAINT [PK_dbo.HMS_TESTV] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[COMPID] ASC,
	[TCATID] ASC,
	[TESTID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HMS_TESTV] ON
INSERT [dbo].[HMS_TESTV] ([ID], [COMPID], [TCATID], [TESTID], [TVACID]) VALUES (5, 101, 10101, 10104001, 10101001)
INSERT [dbo].[HMS_TESTV] ([ID], [COMPID], [TCATID], [TESTID], [TVACID]) VALUES (6, 101, 10101, 10101002, 10101002)
INSERT [dbo].[HMS_TESTV] ([ID], [COMPID], [TCATID], [TESTID], [TVACID]) VALUES (8, 101, 10101, 10103001, 10101001)
SET IDENTITY_INSERT [dbo].[HMS_TESTV] OFF
/****** Object:  Table [dbo].[HMS_TESTNV]    Script Date: 09/13/2015 13:17:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HMS_TESTNV](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[COMPID] [bigint] NOT NULL,
	[TESTID] [bigint] NOT NULL,
	[RESTID] [bigint] NULL,
	[RESTNM] [nvarchar](max) NULL,
	[RESTGR] [nvarchar](max) NULL,
	[RESTMU] [nvarchar](max) NULL,
	[SHOWTP] [nvarchar](max) NULL,
	[LENGTH] [bigint] NULL,
	[DECIML] [bigint] NULL,
	[NVALUE] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.HMS_TESTNV] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[COMPID] ASC,
	[TESTID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HMS_TESTMST]    Script Date: 09/13/2015 13:17:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HMS_TESTMST](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[COMPID] [bigint] NOT NULL,
	[TCATID] [bigint] NOT NULL,
	[TCATNM] [nvarchar](max) NULL,
	[DEPTID] [bigint] NOT NULL,
 CONSTRAINT [PK_dbo.HMS_TESTMST] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[COMPID] ASC,
	[TCATID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HMS_TESTMST] ON
INSERT [dbo].[HMS_TESTMST] ([ID], [COMPID], [TCATID], [TCATNM], [DEPTID]) VALUES (1, 101, 10101, N'Test Cat Name 1', 10101)
INSERT [dbo].[HMS_TESTMST] ([ID], [COMPID], [TCATID], [TCATNM], [DEPTID]) VALUES (2, 101, 10102, N'Test Cat Name 2', 10102)
INSERT [dbo].[HMS_TESTMST] ([ID], [COMPID], [TCATID], [TCATNM], [DEPTID]) VALUES (3, 101, 10103, N'Test Cat name 6', 10102)
SET IDENTITY_INSERT [dbo].[HMS_TESTMST] OFF
/****** Object:  Table [dbo].[HMS_TEST]    Script Date: 09/13/2015 13:17:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HMS_TEST](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[COMPID] [bigint] NOT NULL,
	[TCATID] [bigint] NOT NULL,
	[TESTID] [bigint] NOT NULL,
	[DEPTID] [bigint] NULL,
	[TESTNM] [nvarchar](max) NULL,
	[RATE] [decimal](18, 2) NULL,
	[PCNTD] [decimal](18, 2) NULL,
 CONSTRAINT [PK_dbo.HMS_TEST] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[COMPID] ASC,
	[TCATID] ASC,
	[TESTID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HMS_TEST] ON
INSERT [dbo].[HMS_TEST] ([ID], [COMPID], [TCATID], [TESTID], [DEPTID], [TESTNM], [RATE], [PCNTD]) VALUES (1, 101, 10101, 10101001, 10101, N'child data 1.1', CAST(100.00 AS Decimal(18, 2)), CAST(205.00 AS Decimal(18, 2)))
INSERT [dbo].[HMS_TEST] ([ID], [COMPID], [TCATID], [TESTID], [DEPTID], [TESTNM], [RATE], [PCNTD]) VALUES (2, 101, 10101, 10101002, 10101, N'child Data 1.2', CAST(200.00 AS Decimal(18, 2)), CAST(201.00 AS Decimal(18, 2)))
INSERT [dbo].[HMS_TEST] ([ID], [COMPID], [TCATID], [TESTID], [DEPTID], [TESTNM], [RATE], [PCNTD]) VALUES (4, 101, 10104, 10104001, 10101, N'CBC', CAST(120.00 AS Decimal(18, 2)), CAST(30.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[HMS_TEST] OFF
/****** Object:  Table [dbo].[HMS_SIGNBY]    Script Date: 09/13/2015 13:17:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HMS_SIGNBY](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[COMPID] [bigint] NOT NULL,
	[SIGNID] [bigint] NOT NULL,
	[AUTHNM] [nvarchar](max) NULL,
	[TITLE] [nvarchar](max) NULL,
	[DEPTNM] [nvarchar](max) NULL,
	[INSTITUTE] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.HMS_SIGNBY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[COMPID] ASC,
	[SIGNID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HMS_SIGNBY] ON
INSERT [dbo].[HMS_SIGNBY] ([ID], [COMPID], [SIGNID], [AUTHNM], [TITLE], [DEPTNM], [INSTITUTE]) VALUES (1, 101, 10101, N'author 1', N'ppp', N'HR', N'kjdsf')
INSERT [dbo].[HMS_SIGNBY] ([ID], [COMPID], [SIGNID], [AUTHNM], [TITLE], [DEPTNM], [INSTITUTE]) VALUES (2, 101, 10102, N'author 2', N'ksbdjba', N'bjkasb', N'sdkbsbk')
INSERT [dbo].[HMS_SIGNBY] ([ID], [COMPID], [SIGNID], [AUTHNM], [TITLE], [DEPTNM], [INSTITUTE]) VALUES (3, 101, 10103, N'Author 4', N'lkdshf', N'sdknfs', N'kdjs')
SET IDENTITY_INSERT [dbo].[HMS_SIGNBY] OFF
/****** Object:  Table [dbo].[HMS_RFPCNT]    Script Date: 09/13/2015 13:17:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HMS_RFPCNT](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[COMPID] [bigint] NOT NULL,
	[REFERID] [bigint] NOT NULL,
	[TCATID] [bigint] NULL,
	[RFPCNT] [decimal](18, 2) NULL,
	[REMARKS] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.HMS_RFPCNT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[COMPID] ASC,
	[REFERID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HMS_RFPCNT] ON
INSERT [dbo].[HMS_RFPCNT] ([ID], [COMPID], [REFERID], [TCATID], [RFPCNT], [REMARKS]) VALUES (1, 101, 1012010001, 10102, CAST(333.00 AS Decimal(18, 2)), N'dfsdf')
INSERT [dbo].[HMS_RFPCNT] ([ID], [COMPID], [REFERID], [TCATID], [RFPCNT], [REMARKS]) VALUES (2, 101, 1012010001, 10104, CAST(111.00 AS Decimal(18, 2)), N'sdfsd')
INSERT [dbo].[HMS_RFPCNT] ([ID], [COMPID], [REFERID], [TCATID], [RFPCNT], [REMARKS]) VALUES (3, 101, 1012010002, 10102, CAST(555.00 AS Decimal(18, 2)), N'dfgsdgsd')
SET IDENTITY_INSERT [dbo].[HMS_RFPCNT] OFF
/****** Object:  Table [dbo].[HMS_REFER]    Script Date: 09/13/2015 13:17:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HMS_REFER](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[COMPID] [bigint] NOT NULL,
	[REFERID] [bigint] NOT NULL,
	[REFERNM] [nvarchar](128) NOT NULL,
	[REFERGID] [bigint] NULL,
	[TITLE] [nvarchar](max) NULL,
	[ADDRESS] [nvarchar](max) NULL,
	[MOBNO1] [nvarchar](max) NULL,
	[MOBNO2] [nvarchar](max) NULL,
	[EMAILID] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.HMS_REFER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[COMPID] ASC,
	[REFERID] ASC,
	[REFERNM] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HMS_REFER] ON
INSERT [dbo].[HMS_REFER] ([ID], [COMPID], [REFERID], [REFERNM], [REFERGID], [TITLE], [ADDRESS], [MOBNO1], [MOBNO2], [EMAILID]) VALUES (1, 101, 1012010001, N'sadas', 101201, N'asd', N'asd', N'asd', N'asdas', N'sdas')
INSERT [dbo].[HMS_REFER] ([ID], [COMPID], [REFERID], [REFERNM], [REFERGID], [TITLE], [ADDRESS], [MOBNO1], [MOBNO2], [EMAILID]) VALUES (2, 101, 1012010002, N'eeeee', 101201, N'xcsdc', N'cxzc', N'sdasd', N'sdasd', N'sdasda')
INSERT [dbo].[HMS_REFER] ([ID], [COMPID], [REFERID], [REFERNM], [REFERGID], [TITLE], [ADDRESS], [MOBNO1], [MOBNO2], [EMAILID]) VALUES (3, 101, 1012010003, N'ffff', 101201, N'das', N'sdcas', N'asdas', N'asdvfdg', N'sdfasd')
SET IDENTITY_INSERT [dbo].[HMS_REFER] OFF
/****** Object:  Table [dbo].[HMS_OPDRCV]    Script Date: 09/13/2015 13:17:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HMS_OPDRCV](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[COMPID] [bigint] NOT NULL,
	[TRANSDT] [datetime] NULL,
	[TRANSMY] [nvarchar](max) NULL,
	[TRANSNO] [bigint] NULL,
	[PATIENTID] [nvarchar](max) NULL,
	[DUEAMTP] [decimal](18, 2) NULL,
	[DISCHOS] [decimal](18, 2) NULL,
	[NETAMT] [decimal](18, 2) NULL,
	[RCVAMT] [decimal](18, 2) NULL,
	[DUEAMT] [decimal](18, 2) NULL,
	[REMARKS] [nvarchar](max) NULL,
	[USERPC] [nvarchar](max) NULL,
	[INSUSERID] [bigint] NULL,
	[INSTIME] [datetime] NULL,
	[INSIPNO] [nvarchar](max) NULL,
	[INSLTUDE] [nvarchar](max) NULL,
	[UPDUSERID] [bigint] NULL,
	[UPDTIME] [datetime] NULL,
	[UPDIPNO] [nvarchar](max) NULL,
	[UPDLTUDE] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.HMS_OPDRCV] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[COMPID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HMS_OPDRCV] ON
INSERT [dbo].[HMS_OPDRCV] ([ID], [COMPID], [TRANSDT], [TRANSMY], [TRANSNO], [PATIENTID], [DUEAMTP], [DISCHOS], [NETAMT], [RCVAMT], [DUEAMT], [REMARKS], [USERPC], [INSUSERID], [INSTIME], [INSIPNO], [INSLTUDE], [UPDUSERID], [UPDTIME], [UPDIPNO], [UPDLTUDE]) VALUES (1, 101, CAST(0x0000A50500000000 AS DateTime), N'Aug-15', 2015080001, N'310815-001', CAST(4.00 AS Decimal(18, 2)), CAST(1.00 AS Decimal(18, 2)), CAST(3.00 AS Decimal(18, 2)), CAST(3.00 AS Decimal(18, 2)), NULL, N'asdsa', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[HMS_OPDRCV] ([ID], [COMPID], [TRANSDT], [TRANSMY], [TRANSNO], [PATIENTID], [DUEAMTP], [DISCHOS], [NETAMT], [RCVAMT], [DUEAMT], [REMARKS], [USERPC], [INSUSERID], [INSTIME], [INSIPNO], [INSLTUDE], [UPDUSERID], [UPDTIME], [UPDIPNO], [UPDLTUDE]) VALUES (2, 101, CAST(0x0000A50500000000 AS DateTime), N'Aug-15', 2015080002, N'310815-001', CAST(4.00 AS Decimal(18, 2)), CAST(2.00 AS Decimal(18, 2)), CAST(2.00 AS Decimal(18, 2)), CAST(2.00 AS Decimal(18, 2)), NULL, N'ddd', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[HMS_OPDRCV] ([ID], [COMPID], [TRANSDT], [TRANSMY], [TRANSNO], [PATIENTID], [DUEAMTP], [DISCHOS], [NETAMT], [RCVAMT], [DUEAMT], [REMARKS], [USERPC], [INSUSERID], [INSTIME], [INSIPNO], [INSLTUDE], [UPDUSERID], [UPDTIME], [UPDIPNO], [UPDLTUDE]) VALUES (3, 101, CAST(0x0000A50500000000 AS DateTime), N'Aug-15', 2015080003, N'310815-001', CAST(4.00 AS Decimal(18, 2)), CAST(3.00 AS Decimal(18, 2)), CAST(1.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(1.00 AS Decimal(18, 2)), N'dsfsdfsd', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[HMS_OPDRCV] OFF
/****** Object:  Table [dbo].[HMS_OPDMST]    Script Date: 09/13/2015 13:17:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HMS_OPDMST](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[COMPID] [bigint] NOT NULL,
	[TRANSDT] [datetime] NULL,
	[PATIENTID] [nvarchar](max) NULL,
	[PATIENTNM] [nvarchar](max) NULL,
	[GENDER] [nvarchar](max) NULL,
	[AGE] [nvarchar](max) NULL,
	[MOBNO] [nvarchar](max) NULL,
	[ADDRESS] [nvarchar](max) NULL,
	[DOCTORID] [bigint] NULL,
	[REFERID] [bigint] NULL,
	[RFPCNT] [decimal](18, 2) NULL,
	[DVDT] [datetime] NULL,
	[DVTM] [nvarchar](max) NULL,
	[TOTAMT] [decimal](18, 2) NULL,
	[DISCREF] [decimal](18, 2) NULL,
	[DISCHOS] [decimal](18, 2) NULL,
	[DISCNET] [decimal](18, 2) NULL,
	[NETAMT] [decimal](18, 2) NULL,
	[RCVAMT] [decimal](18, 2) NULL,
	[DUEAMT] [decimal](18, 2) NULL,
	[USERPC] [nvarchar](max) NULL,
	[INSUSERID] [bigint] NULL,
	[INSTIME] [datetime] NULL,
	[INSIPNO] [nvarchar](max) NULL,
	[INSLTUDE] [nvarchar](max) NULL,
	[UPDUSERID] [bigint] NULL,
	[UPDTIME] [datetime] NULL,
	[UPDIPNO] [nvarchar](max) NULL,
	[UPDLTUDE] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.HMS_OPDMST] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[COMPID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HMS_OPDMST] ON
SET IDENTITY_INSERT [dbo].[HMS_OPDMST] OFF
/****** Object:  Table [dbo].[HMS_OPD]    Script Date: 09/13/2015 13:17:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HMS_OPD](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[COMPID] [bigint] NOT NULL,
	[TRANSDT] [datetime] NULL,
	[PATIENTID] [nvarchar](max) NULL,
	[REFERID] [bigint] NULL,
	[TESTSL] [bigint] NULL,
	[TCATID] [bigint] NULL,
	[TESTID] [bigint] NULL,
	[AMOUNT] [decimal](18, 2) NULL,
	[PCNTR] [decimal](18, 2) NULL,
	[PCNTD] [decimal](18, 2) NULL,
	[DISCR] [decimal](18, 2) NULL,
	[REMARKS] [nvarchar](max) NULL,
	[USERPC] [nvarchar](max) NULL,
	[INSUSERID] [bigint] NULL,
	[INSTIME] [datetime] NULL,
	[INSIPNO] [nvarchar](max) NULL,
	[INSLTUDE] [nvarchar](max) NULL,
	[UPDUSERID] [bigint] NULL,
	[UPDTIME] [datetime] NULL,
	[UPDIPNO] [nvarchar](max) NULL,
	[UPDLTUDE] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.HMS_OPD] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[COMPID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HMS_OPD] ON
SET IDENTITY_INSERT [dbo].[HMS_OPD] OFF
/****** Object:  Table [dbo].[HMS_MGTRF]    Script Date: 09/13/2015 13:17:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HMS_MGTRF](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[COMPID] [bigint] NOT NULL,
	[MGTID] [bigint] NOT NULL,
	[REFERID] [bigint] NULL,
	[RFPCNT] [decimal](18, 2) NULL,
	[REMARKS] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.HMS_MGTRF] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[COMPID] ASC,
	[MGTID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HMS_MGTRF] ON
INSERT [dbo].[HMS_MGTRF] ([ID], [COMPID], [MGTID], [REFERID], [RFPCNT], [REMARKS]) VALUES (6, 101, 101101, 1012010003, CAST(0.00 AS Decimal(18, 2)), N'jgj')
INSERT [dbo].[HMS_MGTRF] ([ID], [COMPID], [MGTID], [REFERID], [RFPCNT], [REMARKS]) VALUES (7, 101, 101101, 1012010001, CAST(5.00 AS Decimal(18, 2)), N'fghfgh')
INSERT [dbo].[HMS_MGTRF] ([ID], [COMPID], [MGTID], [REFERID], [RFPCNT], [REMARKS]) VALUES (8, 101, 101101, 1012010002, CAST(2.00 AS Decimal(18, 2)), N'dfgdfg')
SET IDENTITY_INSERT [dbo].[HMS_MGTRF] OFF
/****** Object:  Table [dbo].[HMS_MGT]    Script Date: 09/13/2015 13:17:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HMS_MGT](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[COMPID] [bigint] NOT NULL,
	[MGTID] [bigint] NOT NULL,
	[MGTNM] [nvarchar](max) NULL,
	[DESIG] [nvarchar](max) NULL,
	[ADDRESS] [nvarchar](max) NULL,
	[MOBNO1] [nvarchar](max) NULL,
	[MOBNO2] [nvarchar](max) NULL,
	[EMAILID] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.HMS_MGT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[COMPID] ASC,
	[MGTID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HMS_MGT] ON
INSERT [dbo].[HMS_MGT] ([ID], [COMPID], [MGTID], [MGTNM], [DESIG], [ADDRESS], [MOBNO1], [MOBNO2], [EMAILID]) VALUES (1, 101, 101101, N'mgt1', N'sdfs', N'dfsd', N'dfs', N'dfsd', N'dfvs')
INSERT [dbo].[HMS_MGT] ([ID], [COMPID], [MGTID], [MGTNM], [DESIG], [ADDRESS], [MOBNO1], [MOBNO2], [EMAILID]) VALUES (2, 101, 101102, N'mgt2', N'kjgj', N'juygjyg', N'jyhfyjhf', N'hkhfskdhl', N'dkfnklwsnfk')
SET IDENTITY_INSERT [dbo].[HMS_MGT] OFF
/****** Object:  Table [dbo].[HMS_DEPT]    Script Date: 09/13/2015 13:17:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HMS_DEPT](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[COMPID] [bigint] NOT NULL,
	[DEPTID] [bigint] NOT NULL,
	[DEPTNM] [nvarchar](max) NULL,
	[REMARKS] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.HMS_DEPT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[COMPID] ASC,
	[DEPTID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HMS_DEPT] ON
INSERT [dbo].[HMS_DEPT] ([ID], [COMPID], [DEPTID], [DEPTNM], [REMARKS]) VALUES (1, 101, 10101, N'HR', N'fisdns')
INSERT [dbo].[HMS_DEPT] ([ID], [COMPID], [DEPTID], [DEPTNM], [REMARKS]) VALUES (2, 101, 10102, N'Management', N'sad c sj')
INSERT [dbo].[HMS_DEPT] ([ID], [COMPID], [DEPTID], [DEPTNM], [REMARKS]) VALUES (3, 101, 10103, N'Accounts', N'aaa')
SET IDENTITY_INSERT [dbo].[HMS_DEPT] OFF
/****** Object:  Table [dbo].[AslUsercoes]    Script Date: 09/13/2015 13:17:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AslUsercoes](
	[AslUsercoId] [bigint] IDENTITY(1,1) NOT NULL,
	[COMPID] [bigint] NULL,
	[USERID] [bigint] NULL,
	[USERNM] [nvarchar](max) NOT NULL,
	[DEPTNM] [nvarchar](max) NULL,
	[OPTP] [nvarchar](max) NOT NULL,
	[ADDRESS] [nvarchar](max) NOT NULL,
	[MOBNO] [nvarchar](max) NOT NULL,
	[EMAILID] [nvarchar](max) NULL,
	[LOGINBY] [nvarchar](max) NOT NULL,
	[LOGINID] [nvarchar](max) NOT NULL,
	[LOGINPW] [nvarchar](max) NOT NULL,
	[TIMEFR] [nvarchar](max) NOT NULL,
	[TIMETO] [nvarchar](max) NOT NULL,
	[STATUS] [nvarchar](max) NOT NULL,
	[USERPC] [nvarchar](max) NULL,
	[INSUSERID] [bigint] NOT NULL,
	[INSTIME] [datetime] NULL,
	[INSIPNO] [nvarchar](max) NULL,
	[INSLTUDE] [nvarchar](max) NULL,
	[UPDUSERID] [bigint] NOT NULL,
	[UPDTIME] [datetime] NULL,
	[UPDIPNO] [nvarchar](max) NULL,
	[UPDLTUDE] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AslUsercoes] PRIMARY KEY CLUSTERED 
(
	[AslUsercoId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AslUsercoes] ON
INSERT [dbo].[AslUsercoes] ([AslUsercoId], [COMPID], [USERID], [USERNM], [DEPTNM], [OPTP], [ADDRESS], [MOBNO], [EMAILID], [LOGINBY], [LOGINID], [LOGINPW], [TIMEFR], [TIMETO], [STATUS], [USERPC], [INSUSERID], [INSTIME], [INSIPNO], [INSLTUDE], [UPDUSERID], [UPDTIME], [UPDIPNO], [UPDLTUDE]) VALUES (1, 1, 10001, N'Alchemy Software(Piash)', N'Admin', N'AslSuperadmin', N'Goal pahar,Suborna, 203/b,Chittagong', N'8804444444444', N'superadmin01@gmail.com', N'EMAIL', N'superadmin01@gmail.com', N'123', N'00:01', N'23:59', N'A', NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, NULL)
INSERT [dbo].[AslUsercoes] ([AslUsercoId], [COMPID], [USERID], [USERNM], [DEPTNM], [OPTP], [ADDRESS], [MOBNO], [EMAILID], [LOGINBY], [LOGINID], [LOGINPW], [TIMEFR], [TIMETO], [STATUS], [USERPC], [INSUSERID], [INSTIME], [INSIPNO], [INSLTUDE], [UPDUSERID], [UPDTIME], [UPDIPNO], [UPDLTUDE]) VALUES (2, 101, 10101, N'shimul', N'skldn', N'CompanyAdmin', N'sad', N'8801904567844', N'lab@asl.com', N'EMAIL', N'lab@asl.com', N'123', N'00:01', N'23:59', N'A', N'User', 10001, CAST(0x0000A4D200B3FF08 AS DateTime), N'192.168.0.79', N'22.366667,91.8', 0, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[AslUsercoes] OFF
/****** Object:  Table [dbo].[AslCompanies]    Script Date: 09/13/2015 13:17:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AslCompanies](
	[AslCompanyId] [bigint] IDENTITY(1,1) NOT NULL,
	[COMPID] [bigint] NULL,
	[COMPNM] [nvarchar](max) NOT NULL,
	[ADDRESS] [nvarchar](max) NOT NULL,
	[CONTACTNO] [nvarchar](max) NOT NULL,
	[EMAILID] [nvarchar](max) NOT NULL,
	[WEBID] [nvarchar](max) NULL,
	[STATUS] [nvarchar](max) NOT NULL,
	[USERPC] [nvarchar](max) NULL,
	[INSUSERID] [bigint] NULL,
	[INSTIME] [datetime] NULL,
	[INSIPNO] [nvarchar](max) NULL,
	[INSLTUDE] [nvarchar](max) NULL,
	[UPDUSERID] [bigint] NULL,
	[UPDTIME] [datetime] NULL,
	[UPDIPNO] [nvarchar](max) NULL,
	[UPDLTUDE] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AslCompanies] PRIMARY KEY CLUSTERED 
(
	[AslCompanyId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AslCompanies] ON
INSERT [dbo].[AslCompanies] ([AslCompanyId], [COMPID], [COMPNM], [ADDRESS], [CONTACTNO], [EMAILID], [WEBID], [STATUS], [USERPC], [INSUSERID], [INSTIME], [INSIPNO], [INSLTUDE], [UPDUSERID], [UPDTIME], [UPDIPNO], [UPDLTUDE]) VALUES (1, 101, N'Lab Company', N'sad', N'8801904567844', N'lab@asl.com', NULL, N'A', N'User', 10001, CAST(0x0000A4D200B3D3E5 AS DateTime), N'192.168.0.79', N'22.366667,91.8', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[AslCompanies] OFF
/****** Object:  Table [dbo].[ASL_ROLE]    Script Date: 09/13/2015 13:17:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASL_ROLE](
	[ASL_ROLEId] [bigint] IDENTITY(1,1) NOT NULL,
	[COMPID] [bigint] NOT NULL,
	[USERID] [bigint] NOT NULL,
	[MODULEID] [nvarchar](max) NOT NULL,
	[SERIAL] [bigint] NULL,
	[MENUTP] [nvarchar](max) NOT NULL,
	[MENUID] [nvarchar](max) NULL,
	[STATUS] [nvarchar](max) NULL,
	[INSERTR] [nvarchar](max) NULL,
	[UPDATER] [nvarchar](max) NULL,
	[DELETER] [nvarchar](max) NULL,
	[MENUNAME] [nvarchar](max) NULL,
	[ACTIONNAME] [nvarchar](max) NULL,
	[CONTROLLERNAME] [nvarchar](max) NULL,
	[USERPC] [nvarchar](max) NULL,
	[INSUSERID] [bigint] NULL,
	[INSTIME] [datetime] NULL,
	[INSIPNO] [nvarchar](max) NULL,
	[UPDUSERID] [bigint] NULL,
	[UPDTIME] [datetime] NULL,
	[UPDIPNO] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ASL_ROLE] PRIMARY KEY CLUSTERED 
(
	[ASL_ROLEId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ASL_ROLE] ON
INSERT [dbo].[ASL_ROLE] ([ASL_ROLEId], [COMPID], [USERID], [MODULEID], [SERIAL], [MENUTP], [MENUID], [STATUS], [INSERTR], [UPDATER], [DELETER], [MENUNAME], [ACTIONNAME], [CONTROLLERNAME], [USERPC], [INSUSERID], [INSTIME], [INSIPNO], [UPDUSERID], [UPDTIME], [UPDIPNO]) VALUES (1, 101, 10101, N'02', 5, N'F', N'F0201', N'A', N'A', N'A', N'A', N'Department Information', N'Create', N'Department', N'User', 10001, CAST(0x0000A4D200B3FF08 AS DateTime), N'192.168.0.79', NULL, NULL, NULL)
INSERT [dbo].[ASL_ROLE] ([ASL_ROLEId], [COMPID], [USERID], [MODULEID], [SERIAL], [MENUTP], [MENUID], [STATUS], [INSERTR], [UPDATER], [DELETER], [MENUNAME], [ACTIONNAME], [CONTROLLERNAME], [USERPC], [INSUSERID], [INSTIME], [INSIPNO], [UPDUSERID], [UPDTIME], [UPDIPNO]) VALUES (2, 101, 10101, N'02', 3, N'F', N'F0202', N'A', N'A', N'A', N'A', N'Test Information', N'Index', N'TestMaster', N'User', 10001, CAST(0x0000A4D200FD2912 AS DateTime), N'192.168.0.79', NULL, NULL, NULL)
INSERT [dbo].[ASL_ROLE] ([ASL_ROLEId], [COMPID], [USERID], [MODULEID], [SERIAL], [MENUTP], [MENUID], [STATUS], [INSERTR], [UPDATER], [DELETER], [MENUNAME], [ACTIONNAME], [CONTROLLERNAME], [USERPC], [INSUSERID], [INSTIME], [INSIPNO], [UPDUSERID], [UPDTIME], [UPDIPNO]) VALUES (3, 101, 10101, N'02', 4, N'F', N'F0203', N'A', N'A', N'A', N'A', N'Test Wise Vacuum', N'Index', N'TestV', N'User', 10001, CAST(0x0000A4E000C98D37 AS DateTime), N'192.168.0.79', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ASL_ROLE] OFF
/****** Object:  Table [dbo].[ASL_MENUMST]    Script Date: 09/13/2015 13:17:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASL_MENUMST](
	[MODULEID] [nvarchar](128) NOT NULL,
	[MODULENM] [nvarchar](max) NOT NULL,
	[USERPC] [nvarchar](max) NULL,
	[INSUSERID] [bigint] NULL,
	[INSTIME] [datetime] NULL,
	[INSIPNO] [nvarchar](max) NULL,
	[UPDUSERID] [bigint] NULL,
	[UPDTIME] [datetime] NULL,
	[UPDIPNO] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ASL_MENUMST] PRIMARY KEY CLUSTERED 
(
	[MODULEID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ASL_MENUMST] ([MODULEID], [MODULENM], [USERPC], [INSUSERID], [INSTIME], [INSIPNO], [UPDUSERID], [UPDTIME], [UPDIPNO]) VALUES (N'01', N'User Module', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[ASL_MENUMST] ([MODULEID], [MODULENM], [USERPC], [INSUSERID], [INSTIME], [INSIPNO], [UPDUSERID], [UPDTIME], [UPDIPNO]) VALUES (N'02', N'Lab Module', N'User', 10001, CAST(0x0000A4D000D0A2A8 AS DateTime), N'192.168.0.79', NULL, NULL, NULL)
/****** Object:  Table [dbo].[ASL_MENU]    Script Date: 09/13/2015 13:17:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASL_MENU](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[MODULEID] [nvarchar](max) NULL,
	[SERIAL] [bigint] NULL,
	[MENUTP] [nvarchar](max) NULL,
	[MENUID] [nvarchar](max) NULL,
	[MENUNM] [nvarchar](max) NULL,
	[ACTIONNAME] [nvarchar](max) NULL,
	[CONTROLLERNAME] [nvarchar](max) NULL,
	[USERPC] [nvarchar](max) NULL,
	[INSUSERID] [bigint] NULL,
	[INSTIME] [datetime] NULL,
	[INSIPNO] [nvarchar](max) NULL,
	[UPDUSERID] [bigint] NULL,
	[UPDTIME] [datetime] NULL,
	[UPDIPNO] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ASL_MENU] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ASL_MENU] ON
INSERT [dbo].[ASL_MENU] ([Id], [MODULEID], [SERIAL], [MENUTP], [MENUID], [MENUNM], [ACTIONNAME], [CONTROLLERNAME], [USERPC], [INSUSERID], [INSTIME], [INSIPNO], [UPDUSERID], [UPDTIME], [UPDIPNO]) VALUES (1, N'02', 5, N'F', N'F0201', N'Department Information', N'Create', N'Department', N'User', 10001, CAST(0x0000A4D200B3993A AS DateTime), N'192.168.0.79', 10001, CAST(0x0000A50601091EF1 AS DateTime), N'192.168.0.79')
INSERT [dbo].[ASL_MENU] ([Id], [MODULEID], [SERIAL], [MENUTP], [MENUID], [MENUNM], [ACTIONNAME], [CONTROLLERNAME], [USERPC], [INSUSERID], [INSTIME], [INSIPNO], [UPDUSERID], [UPDTIME], [UPDIPNO]) VALUES (2, N'02', 3, N'F', N'F0202', N'Test Information', N'Index', N'TestMaster', N'User', 10001, CAST(0x0000A4D200FD2912 AS DateTime), N'192.168.0.79', 10001, CAST(0x0000A50601091337 AS DateTime), N'192.168.0.79')
INSERT [dbo].[ASL_MENU] ([Id], [MODULEID], [SERIAL], [MENUTP], [MENUID], [MENUNM], [ACTIONNAME], [CONTROLLERNAME], [USERPC], [INSUSERID], [INSTIME], [INSIPNO], [UPDUSERID], [UPDTIME], [UPDIPNO]) VALUES (3, N'02', 4, N'F', N'F0203', N'Test Wise Vacuum', N'Index', N'TestV', N'User', 10001, CAST(0x0000A4E000C98D37 AS DateTime), N'192.168.0.79', 10001, CAST(0x0000A506010971D1 AS DateTime), N'192.168.0.79')
SET IDENTITY_INSERT [dbo].[ASL_MENU] OFF
/****** Object:  Table [dbo].[ASL_LOG]    Script Date: 09/13/2015 13:17:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASL_LOG](
	[Asl_LOGid] [bigint] IDENTITY(1,1) NOT NULL,
	[COMPID] [bigint] NULL,
	[USERID] [bigint] NULL,
	[LOGTYPE] [nvarchar](max) NULL,
	[LOGSLNO] [bigint] NULL,
	[LOGDATE] [datetime] NULL,
	[LOGTIME] [nvarchar](max) NULL,
	[LOGIPNO] [nvarchar](max) NULL,
	[LOGLTUDE] [nvarchar](max) NULL,
	[TABLEID] [nvarchar](max) NULL,
	[LOGDATA] [nvarchar](max) NULL,
	[USERPC] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ASL_LOG] PRIMARY KEY CLUSTERED 
(
	[Asl_LOGid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ASL_LOG] ON
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
SET IDENTITY_INSERT [dbo].[ASL_LOG] OFF
/****** Object:  Table [dbo].[ASL_DELETE]    Script Date: 09/13/2015 13:17:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASL_DELETE](
	[Asl_DeleteID] [bigint] IDENTITY(1,1) NOT NULL,
	[COMPID] [bigint] NULL,
	[USERID] [bigint] NULL,
	[DELSLNO] [bigint] NULL,
	[DELDATE] [nvarchar](max) NULL,
	[DELTIME] [nvarchar](max) NULL,
	[DELIPNO] [nvarchar](max) NULL,
	[DELLTUDE] [nvarchar](max) NULL,
	[TABLEID] [nvarchar](max) NULL,
	[DELDATA] [nvarchar](max) NULL,
	[USERPC] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ASL_DELETE] PRIMARY KEY CLUSTERED 
(
	[Asl_DeleteID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO